ref/correct/*-failure
ref/correct/*-kat
ref/correct/*.rsp
ref/correct/output
ref/speed_test/*-speed*
ref/tools/
ref/vs_proj
Implementations/Reference_Implementation/build
*__pycache__*
ref/speed_test/*.csv
ref/src/*.o
scripts/*.zip